<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div th:replace="/inc/NavBar"></div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Product Add</h2>
            <form action="/productAdd" method="post">
                <div class="mb-2">
                    <input name="title" placeholder="Title" class="form-control" />
                </div>
                <div class="mb-2">
                    <input name="price" placeholder="Price" class="form-control" />
                </div>
                <div class="mb-2">
                    <input type="color" name="color" placeholder="color" class="form-control form-control-color" />
                </div>
                <button class="btn btn-success">Send</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h2>Product List</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Pid</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Color</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item : ${list.getContent()}">
                    <th scope="row" th:text="${item.pid}" >1</th>
                    <td th:text="${item.title}">Mark</td>
                    <td th:text="${item.price}">Otto</td>
                    <td th:text="${item.color}">red</td>
                    <td><a th:href="${'/productDelete/'+ item.pid}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>

                </tbody>
            </table>
            <nav>
                <ul class="pagination sm">

                    <li th:each="item, iter : ${pages}" class="page-item"><a class="page-link" th:href="${'?pageCount='+iter.index}"  th:text="${iter.index + 1}" ></a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>